@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
  
    
  
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/js/login.js"></script>





  @* <script>
    $(document).ready(function () {
        
       alert(@ViewBag.Message + " hkr");

        if (@ViewBag.Message != '' && @ViewBag.Message != 'null' && @ViewBag.Message != 'undefined') {
            if (message === "ADMIN") {
                window.location.href = '@Url.Action("AdminPages", "AdminPage")';
            } else if (message === "VISITOR") {
                window.location.href = '@Url.Action("Visitor", "VisitorHome")';
            } else {
                window.location.href = '@Url.Action("Recep", "Recept")';
            }
        }
    }
</script> *@  

@if (string.IsNullOrEmpty(@ViewBag.Message))
{
    <div class="mt-3">

        <div class="card col-md-4 offset-4">
            <div class="card-header">

               

                <h4>Log Ins</h4>
            </div>

            <div class="card-body">

                <div>
                    <label for="email" class="form-label">Enter Email</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div>
                    <label for="password" class="form-label">Enter Password</label>
                    <input type="password" class="form-control" id="password">
                </div>

                <div class="mt-4">
                    <button class="btn btn-outline-success" type="submit" id="login">Log In</button>
                </div>

            </div>

        </div>
    </div>
}
else
{
    <div style="width : 100vw; height:100vh;background-color:red" class="text-center">
        <h2>
      hell
            @ViewBag.Message
        </h2>
    </div>

   
}